<nav class="navbar" th:fragment="navbar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="navbar-content">

        <a href="/" class="app-title">Aplikacja Medyczna</a>

        <ul class="navbar-menu" id="navbarMenu">
            <li><a href="/">Strona Główna</a></li>

            <li class="navbar-services">
                <button class="services-button" id="servicesBtn">Badania</button>
                <ul class="services-dropdown" id="servicesDropdown">

                    <li sec:authorize="isAuthenticated()"><a href="/anemia/form">Anemia</a></li>

                </ul>
            </li>

            <li sec:authorize="isAuthenticated()"><a href="/anemia/history">Historia Wyników</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Zarejestruj</a></li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}">
                    <button type="submit" class="login-button">Zaloguj</button>
                </a>
            </li>

            <li sec:authorize="isAuthenticated()" class="logout-li">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="logout-button">Wyloguj</button>
                </form>
            </li>
        </ul>
    </div>
</nav>