<!-- src/main/resources/templates/layout/layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(title, styles, content, scripts)" lang="pl">
<head>
    <meta charset="UTF-8">
    <!-- Fragment do wstawienia tytułu strony przekazanego jako parametr -->
    <title th:replace="${title}">Domyślny Tytuł Aplikacji Medycznej</title> <!-- Upewnij się, że jest tylko jeden taki tag TITLE -->

    <!-- Linki do globalnych plików CSS -->
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

    <!-- Fragment do wstawienia dodatkowych stylów specyficznych dla strony (przekazywany z plików "dzieci") -->
    <!-- MUSI BYĆ POZA BLOKAMI style, ale wciąż w head -->
    <!-- Zmienna ${styles} zostanie zastąpiona np. zawartością tagu <style> z pliku form.html -->
    <th:block th:replace="${styles}"></th:block>

</head>
<body>
<!-- Fragment do wstawienia navbara (wstawiany z pliku fragments/navbar.html) -->
<!-- Użyj nowej składni ~{} -->
<div th:insert="~{fragments/navbar :: navbar}"></div>

<!-- Główny kontener na treść strony -->
<div class="container">
    <!-- Fragment do wstawienia treści specyficznej dla strony przekazanej jako parametr -->
    <!-- Zmienna ${content} zostanie zastąpiona np. zawartoscia <div class="page-content"> z pliku form.html -->
    <th:block th:replace="${content}"></th:block>
</div>

<!-- Fragment do wstawienia skryptów specyficznych dla strony (przekazywany z plików "dzieci") -->
<!-- Zmienna ${scripts} zostanie zastąpiona np. zawartoscia <script> z pliku form.html -->
<th:block th:replace="${scripts}"></th:block>

<!-- Link do globalnego pliku JavaScript -->
<script th:src="@{/js/global.js}"></script>

</body>
</html>