<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::style}, ~{::.page-content}, ~{::script})}" lang="pl">
<head>
    <title>Logowanie</title>

    <style></style>
</head>
<body>
<div class="page-content">

    <div class="login-container">
        <h2>Zaloguj się</h2>

        <div th:if="${param.error}" class="alert-danger">
            Nieprawidłowa nazwa użytkownika lub hasło.
        </div>

        <div th:if="${param.logout}" class="alert-info">
            Zostałeś wylogowany.
        </div>

        <form class="login-form" th:action="@{/login}" method="post">
            <div class="form-group">

                <label for="username">Nazwa użytkownika:</label>

                <input type="text" id="username" name="username" required autofocus>
            </div>

            <div class="form-group">

                <label for="password">Hasło:</label>

                <input type="password" id="password" name="password" required>
            </div>


            <button type="submit">Zaloguj</button>
        </form>


        <div class="login-link-text">
            Nie masz jeszcze konta? <a th:href="@{/register}">Zarejestruj się tutaj</a>
        </div>
    </div>
</div>

<script></script>
</body>
</html>